@model IEnumerable<ThunderDuckGroup.Models.Td_Construction_Images>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/ThunderDuckConstruction/_LayoutWebmaster.cshtml";
}
<div class="main-wrapper">
    <div class="container">

        <!-- Start breadcrumb section  -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/webmasterconstruction/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Start form -->
        <div class="form-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-form">
                        <div class="section-head">
                            <div class="title">
                                <h4>Chỉnh sửa </h4>
                            </div>
                        </div>
                        <form action="/imageconstructionmaster/edit" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <label>Tên hình ảnh (VUI LÒNG NHẬP DƯỚI 150 KÍ TỰ)</label>
                                    <input maxlength="150" type="text" id="tenhinh" name="tenhinh" class="form-control" placeholder="" value="@Model.FirstOrDefault().Title">
                                    <input type="hidden" name="ID" value="@Model.FirstOrDefault().id" />
                                </div>
                                @if (Model.FirstOrDefault().Images != null)
                                {
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Hình ảnh hiển thị (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1920x1280 HOẶC LỚN HƠN)</label>
                                        <br />
                                        <input type="file" name="image" accept="image/*" />
                                        <img src="~/Images/ThunderDuckgroup/imageimg/@Model.FirstOrDefault().Images" style="width:100%" />
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Hình ảnh (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1920x1280 HOẶC LỚN HƠN)</label>
                                        <br />
                                        <input type="file" name="image" accept="image/*" />
                                    </div>
                                }
                                <button type="submit" class="btn btn-primary mt-4 pl-4 pr-4">Thêm mới</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


