@model ThunderDuckGroup.Models.Td_BrandMaker_News
@{
    ViewBag.Title = "NewDetail";
    Layout = "~/Views/Shared/ThunderDuckBrandMaker/_LayoutBrandMaker.cshtml";
}

<section class="blog-page blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                <div class="single-blog-page single-blog text-justify wow fadeIn">
                    <div>
                        <img src="/Images/ThunderDuckGroup/imagenew/@Model.Images" alt="">
                    </div>
                    <div class="blog-details">
                        <div class="title-and-meta">
                            <h3><a href="#">@Model.Title</a></h3>
                        </div>
                        <div class="blog-content">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>

                <div class="tags-and-social-bar wow fadeIn">
                    <div class="tags">
                        <h3>Thẻ:</h3>
                        <ul>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Entertainment</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ul>
                    </div>
                    <div class="single-post-social-bar text-right">
                        <h3>SHERE:</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="blog-comments wow fadeIn">





                </div>
                <div class="comment-box wow fadeIn">
                    <h4>Leave A Comment</h4>
                    <form action="#">
                        <input type="text" name="comment-name" id="comment-name" placeholder="Name..">
                        <input type="email" name="comment-email" id="comment-email" placeholder="Email..">
                        <textarea name="comment-text" id="comment-text" cols="30" rows="10" placeholder="Write Comment Comment"></textarea>
                        <button type="submit">Post Comment</button>
                    </form>
                </div>

                <div class="single-post-pagination">
                    <ul class="page-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i> Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <div class="blog-sidebar">

                    <div class="single-sidebar-widget catagories-widget wow fadeIn">
                        <h4>Du Lịch</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Business Agency</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Web Design</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Health</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Graphic Design</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Lifestyle</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar-widget social-widget wow fadeIn">
                        <h4>Kết nối với chúng tôi</h4>
                        <ul>
                            <li class="s_facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="s_twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="s_pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="s_instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar-widget post-widget wow fadeIn">
                        <h4>Tin Tức</h4>
                        <ul>

                            <li class="s_post">
                                <div class="post-tumb alignleft">
                                    <a href="news1.html"><img src="~/Content/ThunderDuckBrandMaker/img/blog/thumb/1.jpg" alt=""></a>
                                </div>
                                <div class="post-title-and-date">
                                    <h4><a href="news1.html">Can thiệp quyết định mua hàng, lời nào cho Marketing?</a></h4>

                                </div>
                            </li>

                            <li class="s_post">
                                <div class="post-tumb alignleft">
                                    <a href="news2.html"><img src="~/Content/ThunderDuckBrandMaker/img/blog/thumb/blog2.jpg" alt=""></a>
                                </div>
                                <div class="post-title-and-date">
                                    <h4><a href="news2.html">Trải nghiệm mô hình du lịch mới tại Sa Pa</a></h4>

                                </div>
                            </li>

                            <li class="s_post">
                                <div class="post-tumb alignleft">
                                    <a href="news3.html"><img src="~/Content/ThunderDuckBrandMaker/img/blog/thumb/blog3.jpg" alt=""></a>
                                </div>
                                <div class="post-title-and-date">
                                    <h4><a href="news3.html">Lên Đà Lạt một ngày làm nông dân thu hoạch dâu tây</a></h4>

                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="single-sidebar-widget instagram-widget wow fadeIn">
                        <h4>Hình ảnh</h4>
                        <div class="instagram" id="instagram"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BLOG AREA END-->
