@model IEnumerable<ThunderDuckGroup.Models.Td_Construction_Construction>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/ThunderDuckConstruction/_LayoutWebmaster.cshtml";
    string[] arrStr;
}

<div class="main-wrapper">
    <div class="container">

        <!-- Start breadcrumb section  -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/webmasterconstruction/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Start form -->
        <div class="form-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-form">
                        <div class="section-head">
                            <div class="title">
                                <h4>Chỉnh sửa </h4>
                            </div>
                        </div>
                        <form action="/consconstructionmaster/edit" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <label>Tên xây dựng</label>
                                    <input type="text" id="tenxd" name="tenxd" class="form-control" placeholder="" value="@Model.FirstOrDefault().Title">
                                    <input type="hidden" name="ID" value="@Model.FirstOrDefault().id" />
                                </div>
                                @if (Model.FirstOrDefault().Avatar != null)
                                {
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Hình ảnh hiển thị (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1920x720 HOẶC LỚN HƠN)</label>
                                        <br />
                                        <input type="file" name="ava" accept="image/*" />
                                        <img src="~/Images/ThunderDuckgroup/imageHome/@Model.FirstOrDefault().Avatar" style="width:100%" />
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Hình ảnh (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1920x720 HOẶC LỚN HƠN)</label>
                                        <br />
                                        <input type="file" name="image" accept="image/*" />
                                    </div>
                                }
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <input type="text" id="mota" name="mota" class="form-control" placeholder="" value="@Model.FirstOrDefault().Description">
                                </div>
                                @if (Model.FirstOrDefault().Images != null)
                                {
                                    if (Model.FirstOrDefault().Images.Contains(","))
                                    {
                                        arrStr = Model.FirstOrDefault().Images.Split(',');
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Những hình ảnh hiển thị (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1280x763 HOẶC LỚN HƠN)</label>
                                            <br />
                                            <input type="file" name="image" accept="image/*" multiple="multiple" />
                                            <div class="row">
                                                @foreach (var img in arrStr)
                                                {

                                                    <div class="col-sm-3 bg-slider" style="background: url('../../Images/ThunderDuckgroup/imageHome/@img') center center no-repeat / cover;">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Những hình ảnh hiển thị (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1280x763 HOẶC LỚN HƠN)</label>
                                            <br />
                                            <input type="file" name="image" accept="image/*" multiple="multiple" />
                                            <div class="row">
                                                <div class="col-sm-3 bg-slider" style="background: url('../../Images/ThunderDuckgroup/imageHome/@Model.FirstOrDefault().Images') center center no-repeat / cover;">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Những hình ảnh hiển thị (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1280x763 HOẶC LỚN HƠN)</label>
                                        <br />
                                        <input type="file" name="image" accept="image/*" multiple="multiple" />
                                    </div>
                                }
                                <button type="submit" class="btn btn-primary mt-4 pl-4 pr-4">Lưu</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


