
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/ThunderDuckBrandMaker/_LayoutWebmaster.cshtml";
}

<div class="main-wrapper">
    <div class="container">

        <!-- Start breadcrumb section  -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/webmasterbrandmaker/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh sách tin tức</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Start form -->
        <div class="form-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-form">
                        <div class="section-head">
                            <div class="title">
                                <h4>Thêm mới tin tức</h4>
                            </div>
                        </div>
                        <form action="/newsbrandmaker/create" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <label>Tiêu đề (VUI LÒNG VIẾT DƯỚI 250 TỪ)</label>
                                    <input maxlength="250" type="text" id="title" name="title" class="form-control" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Nội dung (VUI LÒNG VIẾT DƯỚI 300 TỪ)</label>
                                    <input maxlength="300" type="text" id="des" name="des" class="form-control" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Hình Ảnh</label>
                                    <input type="file" name="images" accept="image/*"/>
                                </div>
                                <button type="submit" class="btn btn-primary mt-4 pl-4 pr-4">Thêm mới</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

